:root{
    --button-background: #EEEEEE;
    --button-hover-background:#CBCBCA;
}
.make-recipe{
    margin: auto;
    width:75%;
    padding: 10px;
}

.make-recipe input[type=text]{
   padding:2px;
   margin-left:0.4rem;
}
.make-recipe label{
    font-size:1.2rem;
}
.make-recipe-name-container,.make-recipe-info-container,.make-recipe-upload-container{
    background-color: #D4D4D4;
    padding:20px;
}

.make-recipe-ingredient-list,.make-recipe-tags-container,.make-recipe-instructions-list{
    background-color: #BCBCBC;
    padding:20px;
}

/* the name container */
.make-recipe-name-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.make-recipe-name-container div{
    margin-bottom:1rem;
}

.make-recipe-text-field-label{
    width:175px;
    display: inline-block;
}
.make-recipe-pick-file-button{
    padding:3px;
    font-size:1rem;
    border-radius:0.33rem;
    cursor:pointer;
    margin-right:0.3rem;
    margin-left:0.5rem;
    background-color: var(--button-background);
}
.make-recipe-pick-file-button:hover{
    background-color: var(--button-hover-background);
}

/* the ingredient container */

.make-recipe-ingredient-container{
    margin-bottom:1rem;
    display:flex;
}
.delete-ingredient-button, .add-ingredient-button,.add-instruction-button,.delete-instruction-button{
    padding:5px;
    font-size:1rem;
    background-color: var(--button-background);
}

.delete-ingredient-button:hover, .add-ingredient-button:hover, .add-instruction-button:hover, .delete-instruction-button:hover{
    cursor:pointer;
    background-color: var(--button-hover-background)    
}

.delete-ingredient-button{
    margin-right:1rem;
}

.add-ingredient-button{
    position:relative;
    left:340px;
}

.make-recipe-portion-field{
    width:75px;
    margin-right:1rem;
}

.make-recipe-ingredient-field{
    width:200px;
}

/* cooking information container */
.make-recipe-info-container label{
    display:inline-block;
    width:200px;
}

.make-recipe-description-area{
    width:300px;
    height:200px;
    resize:none;
    vertical-align:middle;
    margin-left:0.3rem;
}

/* the tags container */
.make-recipe-tags-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(25%,1fr));
    row-gap:20px;
}
.make-recipe-tags-container label{
    margin-right:1rem;
    display:inline-block;
    width:120px;
}
.make-recipe-tag-check-box{
    transform: scale(1.75);
    cursor:pointer;
    background-color: var(--button-background);
}

.make-recipe-time-field{
    margin-bottom:0.75rem;
}

/* instructions container */

.make-recipe-instruction-area{
    width:400px;
    height:200px;
    resize:none;
    margin-right:1rem;
}

.add-instruction-button{
    position:relative;
    left:450px;
}

.delete-instruction-button{
    position:relative;
    bottom:75px;
}

/* the upload container */
.make-recipe-upload-button{
    width:100%;
    padding:10px;
    font-size:2rem;
    background-color:aquamarine;
    cursor:pointer;
    margin-top:1.5rem;
}

.make-recipe-upload-button:hover{
    background-color:rgb(44, 243, 177);
}

@media(max-width:1200px){
    .make-recipe-name-container{
        grid-template-columns: 1fr;
    }
    .make-recipe label{
        font-size:1rem;
    }
    .make-recipe-pick-file-button{
        font-size:0.75rem;
    }
    .make-recipe-tags-container{
        grid-template-columns: repeat(auto-fit,minmax(33%,1fr));
        row-gap:20px;
    }
}

@media(max-width:760px){
    .make-recipe{
        width:95%;
    }
    .make-recipe-text-field-label{
        width:150px;
        display: inline-block;
    }

    .make-recipe-info-container label{
        display:inline-block;
        width:150px;
    }
}

@media(max-width:620px){
    .make-recipe-instruction-area{
        width:300px;
        height:150px;
        margin-right:0.75rem;
    }
    .add-instruction-button{
        left:330px;
    }
    .make-recipe-name-container,.make-recipe-info-container,.make-recipe-upload-container{
        background-color: #D4D4D4;
        padding:5px;
    }
    
    .make-recipe-ingredient-list,.make-recipe-tags-container,.make-recipe-instructions-list{
        background-color: #BCBCBC;
        padding:5px;
    }
    
}

@media(max-width:480px){
    .make-recipe-text-field-label{
        display:block;
        width:300px;
    }
    .make-recipe-info-container label{
        display:block;
        width:200px;
    }
    .make-recipe-description-area{
        margin-left:0;
    }

    .make-recipe-tags-container{
        grid-template-columns: repeat(auto-fit,minmax(50%,1fr));
        row-gap:20px;
    }
    .make-recipe{
        border:none;
        padding:0;
        margin:0;
        width:100%;
    }

    .make-recipe-portion-field{
        width:55px;
    }
    
    .make-recipe-ingredient-field{
        width:150px;
    }
    .add-ingredient-button{
        left:280px;
    }

    .make-recipe-instruction-area{
        width:250px;
        height:150px;
        margin-right:0.2rem;
    }
    
    .add-instruction-button{
        position:relative;
        left:275px;
    }
    
    .delete-instruction-button{
        position:relative;
        bottom:75px;
    }
}