   
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

div.search_image {
    background-color: #cccccc;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

div.menu_temp {
	  background-color: #cccccc;
}

@media (max-width: 800px) { 
  div.search_image {
  height: 300px;
  }
}

/* SEARCH BAR CSS */
   div.search {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* * {box-sizing: border-box;} */
  
  .topnav {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav input[type=text] {
    padding: 10px;
    font-size: 30px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    background: #ddd;
    font-size: 36px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
/* END OF SEARCH BAR CSS */


/* SORTING CSS */
.sort-flex-container:hover {
    cursor:pointer
}

.sort-flex-container {
display: flex;
flex-wrap: wrap;
position: absolute;
bottom: 0;
right: 0;
}

.sort-flex-container > div {
background-color: #f1f1f1;
margin: 1px;
padding-left: 60px;
padding-right: 60px;
padding-top: 25px;
padding-bottom: 25px;
text-align: center;
font-size: 30px;
min-width: 220px;
}

.sort-flex-container > div:hover {
  background-color: #d6d6d6;

  }

@media (max-width: 800px) { 
    .sort-flex-container > div {
    background-color: #f1f1f1;
    /* margin: 1px; */
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center; 
    font-size: 20px;
    min-width: 160px;
    }

    .sort-flex-container{
      display:flex;
      flex-direction:column;
      gap:5px;
      margin-right:1rem;
    }
    .search-container{
      display:flex;
    }

  .topnav input[type=text] {
    font-size: 25px;
  }
  
  .topnav .search-container button {
    font-size: 25px;
  }
    
}
/* END OF SORTING CSS */

/* SORT BOX CSS */
.sort-box-flex {
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    
    
}

.sort-box-flex > div {
    background-color: #f1f1f1;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    min-width: 300px;
}

.sort-box-flex-full {
    background-color: lightgray;
    padding-top: 20px;
    
}

.sort-button {
  color: white;
  background-color: gray;
  padding: 15px 32px;
  text-align: center;
  margin-left: 20px;
  font-size: 25px;
  border-radius: 2px;
  min-width: 120px;
  max-width: 120px;
  
}

.sort-title {
    display: block;
}
/* END OF SORT BOX CSS */



/* FILTER BOX CSS */
.filter-box-flex {
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  
  
}

.filter-box-flex > div {
  margin: 10px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
  min-width: 150px;
}

.filter-box-flex-full {
  background-color: lightgray;
  padding-top: 20px;
  
}

.tag-green {
  background-color: greenyellow;
  cursor: pointer
}

.tag-white {
  background-color: white;
  cursor: pointer
}

@media (max-width: 800px) {
  .filter-box-flex > div {
    /* margin: 10px; */
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 15px;
    min-width:75px;
  }


  .sort-box-flex > div {
    background-color: #f1f1f1;
    /* margin: 10px; */
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 20px;
    min-width: 300px;
}
}
/* END OF FILTER BOX CSS */

/* DROPDOWN BOXES */
.drop-down-filter-hidden {
    display: none;
}
.drop-down-filter-shown {
    display: show;
}

.drop-down-sort-hidden {
    display: none;
}
.drop-down-sort-shown {
    display: show;
}
/* DROPDOWN BOXES */

/* LIST CSS */
img.list {
	width: 300px;
	height: width;
	background-size: contain;
}

p.filter {
	background-color : #f1f1f1;
	font-size: 30px;
	padding: 30px;
}

p.recipe-name{
	text-align: center;
}

p.recipe-desc{
	text-align: center;
	font-size: 20px;
}

.list-flex-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: White;
    /*background-color: #cccccc;*/
  
  }
  
  .list-flex-container > div {
    max-width: 320px;
    background-color: #f1f1f1;
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    font-size: 30px;
  }
  
  .list-flex-container > div > p {
  
    padding: 10px;
  
  }

/* END OF LIST CSS */

@media screen and (max-width:520px){
  .topnav input[type=text] {
    font-size: 18px;
  }
  
  .topnav .search-container button {
    font-size: 18px;
  }

  .list-flex-container > div {
    margin-top: 75px;
  }

  

}