hr{
    margin-bottom:0.5rem;
}

.home-showcase{
    height:100vh;
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align:center;
    margin-bottom:2rem;
}

.home-showcase-title{
    font-size:4rem;
    margin-bottom:2rem;
    text-shadow: 1px 1px green;
    color:white;
    -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.home-showcase-company-text{
    font-size:1.3rem;
    margin-bottom:4rem;
    color: white;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
   
}

.home-action-buttons-container{
    display:flex;
    flex-wrap:wrap;
    gap:3rem;
}

.home-action-button{
    padding:20px;
    border-radius:10px;
    font-size:1.5rem;
    background-color:blueviolet;
    box-shadow:2px 2px grey;
    cursor:pointer;
    color:white;
    width:300px;

}

.home-action-button:hover{
    background-color: rgb(76, 4, 143);
}

.home-action-button a{
    text-decoration: none;
    color:white;
    cursor:pointer;
}

/* the recipe showcases */
.recipe-flex-showcase{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(20%,1fr));
    /* justify-content: center; */
    justify-items:center;
    row-gap:2rem;
    margin-bottom:2rem;
}

.recipe-flex-showcase-title{
    margin-left:0.75rem;
}



@media screen and (max-width:1680px){
    .recipe-flex-showcase{
        grid-template-columns: repeat(auto-fit,minmax(25%,1fr));
    }
}

@media screen and (max-width:1260px){
    .recipe-flex-showcase{
        grid-template-columns: repeat(auto-fit,minmax(33%,1fr));
    }
}

@media screen and (max-width:920px){
    .recipe-flex-showcase{
        grid-template-columns: repeat(auto-fit,minmax(50%,1fr));
    }
}
@media screen and (max-width:760px){
    .home-action-buttons-container{
        gap:1rem;
    }
    
    .home-action-button{
        padding:10px;
        font-size:1.3rem;
        width:250px;
    }



}

@media screen and (max-width:620px){
    .home-showcase-title{
        font-size:2rem;
        margin-bottom:2rem;
        text-shadow: 1px 1px green;
    }
    .home-action-buttons-container{
        flex-direction: column;
    }

    .recipe-flex-showcase{
        grid-template-columns: 1fr
    }

    .home-showcase-company-text{
        font-size:1rem;
       
    }
}